/outputs/
vm_props_formatter/utils/__pycache__/file_organizer.cpython-36.pyc
vm_props_formatter/utils/__pycache__/logger.cpython-36.pyc
vm_props_formatter/__pycache__/vm_props_manager.cpython-36.pyc
.idea/workspace.xml
vm_props_formatter/utils/__pycache__/json_parser.cpython-36.pyc
