dash==1.9.0
dash-core-components==1.8.0
dash-daq==0.3.3
dash-html-components==1.0.2
dash-bootstrap-components==0.9.1
dash-table==4.6.0
Flask==2.3.2
numpy==1.17.2
openpyxl==2.6.2
pandas==0.25.1
xlrd==1.2.0
XlsxWriter==1.2.6